<div class = "pure-g">
  <div class = "pure-u-1-2">
    <h2 class = "section-header">About Me</h2>
  </div>
  <div class = "pure-u-1-2">
    <h2 class = "section-header">Contact Me</h2>
  </div>
</div>


<div class = "pure-g">
  <div class = "pure-u-1-2">
    <p>I became a software developer because I love to create things. I'm a technology enthusiest and avid problem solver.</p>
    <p>I'm a licensed CPA and my background is in Business Risk Consulting.  I hope to blend my past experiences with software development to work with talented people on interesting products.</p>
    <p>If you'd like to contact me, please either fill out the form to the right or connect with me on LinkedIn.</p>
  </div>

  <div class = "pure-u-1-2">
    <%= render partial: 'shared/contact_form' %>
  </div>
</div>