<div id="weather-conditions">
  <%= link_to image_tag("#{weather[:condition_icon_url]}", height: "30px"), "#{weather[:forecast_url]}", target: 'blank' %><%= link_to "#{weather[:current_temp]} &deg;".html_safe, "#{weather[:forecast_url]}", target: 'blank', class: "pure-button", id: "temperature"%>
</div>