nav {
  background-color: rgb(255, 202, 0);
  position: fixed;
  z-index: 1;
}

.horizontal-stripe {
  width: 100%;
  margin: auto;
}

.pure-g {
  max-width: 900px;
  margin: auto;
}

.project-details {
  padding-top: 4%;
  padding-bottom: 4%;
}

.project-content {
  padding-left: 4%
}

.project-details:nth-child(odd) {
  background-color: #00F1FF
}

.project-name {
}

.section-header {
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.project-content-container {
  position: relative;
}

.project-technologies {
  position: absolute; bottom: 0
}

.project-technologies img {
  max-height: 50px;
  display: inline-block;
  padding-left: 10px;
}

.pure-menu-selected {
  background-color: green;
}

#navbar-list {
  float: right;
}

#navbar-list ul {
  float: right;
}

#nav-logo {
  text-align: center;
}

#name-title {
  padding-top: 45%;
  padding-left: 15%;
  /*vertical-align: middle;*/
}

#about {
  background-color: yellow;
}

#home-section {
  width: 100%;
}

#home-section h1,h3 {
  margin: 0;
}

#me-picture img {
  border-radius: 100%;
  margin-top: 10%;
  margin-bottom: 10%;
}

#message {
  width: 100%;
  max-width: 400px;
}